# Firebase service account credentials
# Get this from: Firebase Console > Project Settings > Service Accounts > Generate New Private Key
# SERVICE_ACCOUNT_JSON='{"type":"service_account",...}'

# Or use file path (recommended)
SERVICE_ACCOUNT_PATH=./serviceAccount.json

# Broker A - headcount
MQTT_BROKER_A=
MQTT_PORT_A=8883
MQTT_USERNAME_A=
MQTT_PASSWORD_A=
MQTT_HEADCOUNT_TOPIC_A="#"

# Broker B - biometric
MQTT_BROKER_B=
MQTT_PORT_B=8883
MQTT_USERNAME_B=
MQTT_PASSWORD_B=
MQTT_BIOMETRIC_TOPIC_B="#"