ESP32_STREAM_URL=http://YOUR_ESP32_CAM_IP:81/stream

MQTT_BROKER=YOUR_HIVEMQ_HOST
MQTT_PORT=8883
MQTT_USERNAME=YOUR_HIVEMQ_USERNAME
MQTT_PASSWORD=YOUR_HIVEMQ_PASSWORD
MQTT_TOPIC=presensip/headcount/kelas-01

DEVICE_ID=esp32cam-kelas-01
ROOM_ID=kelas-01
SAVE_INTERVAL_SECONDS=10