*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overscroll-behavior: none;
}

input, button, select, textarea {
  font-family: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
